body {
     background-image: url("body_background.jpg");
     background-repeat: no-repeat;
     background-size: cover;
     background-attachment: fixed;
     color: #fff;
     font-family: 'Courier New', Courier, monospace;
     margin: 0;
     padding: 0;
     height: 100%;
     display: flexbox;
     flex-wrap: wrap;

}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(125, 125, 125, 0.6);
    height: 120px;
}

h1 {
    background-color: rgba(125, 125, 125, 0.8);
    font-size: 20px;
    width: 350px;
    padding: 10px;
    text-align: center;
    margin: 0 auto 10px;
}

nav {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: space-evenly;
    z-index: 1;
}


.navigation {
     display: inline-block;
     border: 1px solid #ccc;
     padding-left: 30px;
     padding-top: 10px;
     background-color: rgba(158, 83, 146, 0.8);
     width: 150px;
     height: 30px;
}

main {
    margin-top: 120px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: space-between;
    
}

#todo {
    width: 250px;
    margin-left: 115px;
    padding: 0;
    word-wrap: break-word;
}

#in_progress {
    width: 250px;
    padding: 0;
    word-wrap: break-word;
}

#done {
    width: 250px;
    margin-right: 105px;
    word-wrap: break-word;
}

#add {
    margin: 250px auto 10px;
    padding: 5px 10px;
}

#reset {
    margin: 20px auto;
    padding: 5px 10px;
}


ul {
    list-style-type: none;
    font-size: 18px;
    font-weight: bold;
    color: rgb(252, 252, 252);
    padding: 0px;
}

li {
    border: 1px solid #ccc;
    background-color: rgba(190, 60, 8, 0.6);
    margin: 5px;
    padding: 10px;
}

ul li button {
    visibility: hidden;
    display: inline;
    padding: 2px;
}

ul li:hover button {
    visibility: visible;
}

footer {
    background-color: rgba(110, 149, 180);
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    display: none;
    position: sticky;
    top: 100px;
}

#message + label {
    background-color: rgba(220, 20, 60, 0.7);
    padding: 10px 50px;
    font-family: 'Times New Roman', Times, serif;
    position: sticky;
    top: 130px;
    font-size: 20px;
}

#message {
    padding: 0;
    margin-left: 50px;
    margin-bottom: 30px;
    position: sticky;
    top: 140px;
}

#message:checked ~ footer {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
}
 
fieldset {
    margin: 10px;
}

legend {
    border: 1px solid #ccc;
    background-color: rgb(73, 69, 69);
    color: white;
    padding: 5px;
}

#name input, #email input {
    padding: 5px;
    margin-top: 5px;
    width: 200px;
}

#name {
    float: left;
    margin: 10px;
}


#email {
    clear: both;
    float: left;
    margin: 10px;
}

#gender {
    clear: both;
    float: left;
    margin: 10px;
}

#comment {
    clear: both;
    float: left;
    margin: 10px;
}

textarea {
    height: 100px;
    width: 400px;
    margin: 10px 0;
}

button {
    clear: both;
    display: block;
    margin: 10px;
    padding: 5px 10px;
}

footer p {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

